.btn-primary {
  border-color: navy;
  background-color: #3b3b6d;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
  border-color: navy;
  background-color: navy;
}

.message {
  color: gray;
  margin-left: 10px;
  margin-top: 10px;
}

/* Destacar a navbar */
.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
}

/* Estilizar o botão "Conectar MetaMask" */
.btn-outline-light {
  border-color: #fff;
  color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #000;
}